
.btn-cir {
    display:block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid red;

}

.overlay {
    width: 90%;
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    min-height: 100px;
    margin: auto;
    background-color: rgba(15, 177, 37, 0.8);
    z-index: 1000
  }

.overlay-speed {
    width: 60px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    min-height: 60px;
    z-index: 1050;
  }

  .center {
      text-align: right;
      width: 100%;
  }

  .app-title {
    padding-top: 5px; 
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }

  .currentRoute {
      float: right;
      color: white;
      margin-top: 5px;
      vertical-align: middle !important;
      font-weight: bolder;
  }

  .nextRoute {
    /* float: right; */
    color: white;
    margin-top: 5px;
    /* font-size: large; */
    font-weight: bolder;
   }

  .action{
      font-size: medium;
      font-weight: normal;
      color: white;
  }

.search{
  position: absolute;
  z-index: 1100;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 80%;
  width: 200px !important;
  /* right: 0; */
}

div.leaflet-top.leaflet-right{ display: none !important; width: 0px !important; height: 0px !important; }